<footer class='footer'>
  <div class='container'>
    <p class='footer-content'>
      <span class='theme-select'>
        <select id='theme-select' class='theme-select'>
          <option value='dark'>dark</option>
          <option value='light'>light</option>
          <option value='jazz'>jazz</option>
          <option value='outrun'>outrun</option>
          <option value='raptors'>raptors</option>
          <option value='severance'>severance</option>
          <option value='snes'>snes</option>
          <option value='tyranitar'>tyranitar</option>
        </select>
      </span>
      <span class='copyright-info'>
        <i class='fa fa-copyright'></i>
        <script>
          document.write(new Date().getFullYear());
        </script>
      </span>
    </p>
  </div>
</footer>