/*----------------------------------------------------------------------------*/
/*  GLOBAL VARIABLES                                                          */
/*----------------------------------------------------------------------------*/
:root {
  --theme_color: #e67e22; /* warm orange */
  --text_color: #f5f5f5; /* off orange */
  --contrast_color: #abebc6; /* pale green */
  --background_color: #17202a; /* dark blue */
  --link_color: #85c1e9; /* medium blue */
  --hover_color: #aed6f1; /* light blue */
  --selection_color:   #21618c;
  --text_size: 16px;
  --h1_text_size: 32px;
  --h2_text_size: 20px;
}


/*----------------------------------------------------------------------------*/
/*  BASE STYLES                                                               */
/*----------------------------------------------------------------------------*/
html {
  overflow-y: scroll;
}

body {
  font: var(--text_size) "Montserrat", sans-serif;
  line-height: 1.5;
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: var(--background_color);
  color: var(--text_color);
  font-size: var(--text_size);
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
  padding-left: 0px;
  margin-left: 0px;
  list-style-position: inside;
}

h1 {
  font-size: var(--h1_text_size);
  font-weight: 700;
  color: var(--contrast_color);
}

h2 {
  font-size: var(--h2_text_size);
  font-weight: 700;
}

hr {
  height: 0;
  border-color: var(--text_color);
  margin-top: 5px;
}

::selection {
  background: var(--selection_color);
}

::-moz-selection {
  background: var(--selection_color);
}


/*----------------------------------------------------------------------------*/
/*  MODULES / COMPONENTS                                                      */
/*----------------------------------------------------------------------------*/
.img-responsive {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  min-width: 200px;
}

.date-right {
  float: right;
  padding-left: 100px;
}

.picture-caption {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}

a {
  color: var(--link_color);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--link_color);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--hover_color);
  background-color: transparent;
  text-decoration: underline;
}

a:focus {
  color: var(--contrast_color);
  background-color: transparent;
  text-decoration: underline;
}

.fa-circle {
  color: var(--text_color);
}

.fa-envelope,
.fa-linkedin,
.fa-github,
.fa-list-alt {
  color: var(--link_color);
}

.fa-envelope:hover,
.fa-linkedin:hover,
.fa-github:hover,
.fa-list-alt:hover {
  color: var(--hover_color);
}


/*----------------------------------------------------------------------------*/
/*  MODULES / COMPONENTS                                                      */
/*----------------------------------------------------------------------------*/
.navbar {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  border-radius: 0;
  letter-spacing: 5px;
  position: fixed;
  width: 100%;
  background-color: var(--theme_color);
  z-index: 1;
}

.navbar-default {
  border: var(--background_color);
}

.navbar-default .navbar-brand {
  color: var(--background_color);
  font-weight: bold;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: var(--hover_color);
}

.navbar-default .navbar-nav > li > a {
  color: var(--background_color);
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
  color: var(--hover_color);
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
  box-shadow: none;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  background-color: var(--theme_color);
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
  background-color: var(--theme_color);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: var(--background_color);
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: var(--hover_color);
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 1;
  background-color: var(--theme_color);
  text-align: center;
  vertical-align: middle;
}

.footer p {
  margin: 0px 0px;
  color: var(--background_color);
}